$family-primary: 'Droid Sans Mono for Powerline', 'sans-serif';

$editor-background: #181818;
$editor-foreground: #d4d4d4;
$editor-activity-bar-badge: #007acc;
$editor-menu-background: #202021;
$editor-unselected-tab: #292929;
$editor-property: #ce9178;
$editor-constant: #569cd6;

// bulma variables
$body-background-color: $editor-background;
$text: $editor-foreground;
$link: $editor-activity-bar-badge;
$link-hover: $editor-constant;
$white-ter: $text;
$yellow: $editor-property;

$navbar-background-color: $editor-menu-background;
$navbar-item-color: $editor-foreground;
$navbar-item-hover-color: $editor-foreground;
$navbar-item-hover-background-color: $editor-unselected-tab;

$card-background-color: $editor-unselected-tab;
$card-box-shadow-color-hover: $editor-foreground;
$tag-color: $editor-foreground;
$tag-background-color: $editor-menu-background;
$tag-radius: 0;
